.container {
	max-width: 900px;
	margin: 0 auto;
}

.rounded {
	border-radius: 0.25rem;
}

.graph-bg {
	background-color: #e7f9f4;
	background-size: 20px 20px;
	background-image: linear-gradient(to right, #e0f6d5 1px, transparent 1px),
		linear-gradient(to bottom, #e0f6d5 1px, transparent 1px);
}

.text-center {
	text-align: center;
}

.intro-text {
	margin: 0 0 2rem 0;
	color: gray;
}

.border {
	border: 1px solid #e4e4e4;
}

.timeline, .timeline-numbers {
	display: flex;
}

.timeline-wrapper {
	margin-bottom: 4rem;
	overflow: auto;
	background-color: #e4e4e4;
}

.frame-number{
	color: lightslategrey;
	font-size: 0.75rem;
	line-height: 2;
}

.frame {
	color: white;
}

.frame, .frame-number {
	width: 25px;
	height: 25px;
	background-color: #e7e8f3;
	border: 1px solid #fff;
	min-width: 25px;
}

.active {
	background-color: #dddee9;
	border: 1px solid #8890ea;
}

.keyframe{
	background-color: #cbd;
	color: white;
}

.keyframe.active {
	background-color: #b9b1c2;
	border: 1px solid gray;
}

.unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}

.control-box {
	margin: 1rem 0;
	display: flex;
	justify-content: space-between;
}

.display-none {
	display: none;
}

.inputs {
	margin: 1rem 0;
	text-align: left;
}

input {
	margin: 0 1rem;
}

.control-img {
	width: 12px;
	height: 20px;
	vertical-align: middle;
}

.control-list {
	display: flex;
}

.btn-margin-right {
	margin-right: 0.75rem;
}

.btn-margin-left {
	margin-left: 0.75rem;
}

.controls {
	padding: 0 1rem;
	height: 35px;
}

.timeline-wrapper ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

.timeline-wrapper ul li { display: inline; }

.timeline-wrapper ul li a
{
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #8daed8;
}

.timeline-wrapper ul li a:hover, .timeline-wrapper ul a.active
{
	color: #fff;
	background-color: #369;
}

.preview {
	display: inline-block;
}

.hide {
	display: None !important;
}

/*
.container {
	background-color:gray;
	width: 600px;
	height: 400px;
-ms-touch-action: none;
ms-touch-action: none;
}
.plateContainer{
	position: absolute;
	left: 0;
	top: 0;
-ms-touch-action: none;
ms-touch-action: none;
}
.plate{
	position: absolute;
	left: -200px;
	top: -200px;
} */

circle {
	/* fill: dodgerblue; */
	cursor: alias;
  }
